<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>sillajuku uses your Apple Music library and listening history to suggest albums for you to rate.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>sillajuku saves the share card image you choose to export to your Photos library.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sillajuku</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Sand</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Sand</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Blush</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Blush</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PowderBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-PowderBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Lavender</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Lavender</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Mint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Mint</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Terracotta</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Terracotta</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
